.aside_header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--dark-bgc);
  border-bottom: 1px solid var(--border-color);
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: var(--light-bgc);
      padding: 5px 10px;
      border-radius: 15px;
      color: var(--color_blue);
      border: 1px solid grey;
    }
  }
}
