.chat_page {
  display: flex;

  aside {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    header {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: var(--dark-bgc);
    }
    header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img_wrapper {
        position: relative;
        img {
          border-radius: 50%;
        }
        &::after {
          content: "";
          background-image: url("/src/assets/tick.png");
          background-size: cover;
          width: 10px;
          height: 10px;
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      button {
        background-color: var(--light-bgc);
        padding: 5px 10px;
        border-radius: 15px;
        color: var(--color_blue);
        border: 1px solid grey;
      }
    }
  }

  main {
    width: 70vw;
    height: 100vh;
    padding: 10px;
    background-color: var(--light-bgc);
  }
}
