.custom_btn {
  z-index: 10;
  padding: 5px;
  color: var(--color_blue);
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  align-self: center;
  border-radius: 10px;

  &hover,
  &focus {
    color: rgb(1, 107, 107);
  }
}
